@import "./def";

.list {
    --listMinWidth: calc(100vw - #{$tree_max_width} - #{$resize_toggle_width});
    --listMaxWidth: calc(100vw - #{$tree_min_width} - #{$resize_toggle_width});
    flex: none;
    width: clamp(var(--listMinWidth), var(--listWidth), var(--listMaxWidth));
}
