@import "../def";

$item_idx_width: 4rem;
$item_padding: 0 5px;
$item_margin: 0 $resize_toggle_width 0 0;
$item_icon_width: 2rem;

$row_height: $sub_item_height;

// .item {
//     @include ovf;
//     height: $sub_item_height;
//     display: inline-flex;
//     align-items: center;
//     padding: $list_item_padding;
// }
