@import "../def";

$list_header_height: 2.5rem;
$list_row_height: 2rem;

$list_item_idx_width: 40px;

.body {
    @extend .sub_body;
    overflow: hidden;
    --NAME_WIDTH: 333px;
    --SIZE_WIDTH: 111px;
}

.header,
.list_row {
    display: flex;
    align-items: center;
}

.header {
    height: $list_header_height;
}

.header_toggle {
    @include wh($resize_toggle_width, 100%);
    cursor: w-resize;
    flex: none;
    user-select: none;
    background-color: $listHeader_bgc;
    &:hover {
        background-color: $resize_toggle_bgc_hover;
    }
    &:global(.active) {
        background-color: $resize_toggle_bgc_active;
        height: 100vh;
        align-self: flex-start;
    }
}

.list_item:global(.idx):hover,
.list_item:global(.idx.active),
.list_row:hover .list_item:global(.idx),
.list_row:global(.active) .list_item:global(.idx) {
    > [type="checkbox"] {
        display: block;
        & + * {
            display: none;
        }
    }
}

.list_item {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: $list_item_padding;
    &:global(.idx) {
        // 序号 & 选择框
        justify-content: center;
        width: $list_item_idx_width;
        > [type="checkbox"] {
            display: none;
        }
    }
    &:global(.name) {
        // 文件名
        width:  var(--NAME_WIDTH);
    }
    &:global(.size) {
        // 文件大小
        width:  var(--SIZE_WIDTH);
    }
}

.list_row {
    height: $list_row_height;
    &:hover {
        background-color: $row_hover_bgc;
    }
    &:global(.active) {
        background-color: $row_active_bgc;
        &:hover {
            background-color: $row_active_hover_bgc;
        }
    }
}

.list {
    height: calc($sub_body_height - 2.5rem);
    overflow: hidden auto;
}
