@import "../def";

$tree_width: 21rem;
$tree_min_width: 17rem;
$tree_max_width: 29rem;
$tree_bgc:  darken($normal_bgc, 3%);

$resize_toggle_width: 3px;
$resize_toggle_bgc: darken($tree_bgc, 3%);
$resize_toggle_bgc_hover: darken($resize_toggle_bgc, 3%);
$resize_toggle_bgc_active: #559;

$sub_header_height: 3rem;
$sub_body_height: calc($body_height - $sub_header_height);

$icon_fsz: 15px;
$icon_color: #aaa;
$icon_hover_color: #88c;
$icon_hover_bgc: #ddd;

$headerMenu_icon_wh: 2em;

$itemAction_icon_wh: 1.5em;

$row_hover_bgc: #ddf;
$row_active_bgc: darken($row_hover_bgc, 3%);
$row_active_hover_bgc: darken($row_active_bgc, 3%);

.sub_header {
    @extend .AIC;
    height: $sub_header_height;
}

.sub_body {
    height: $sub_body_height;
}

// .icon {
//     font-size: $icon_fsz;
//     color: $icon_color;
//     transition: all linear 100ms;
//     &:hover {
//         @include cc($icon_hover_color, $icon_hover_bgc);
//     }
// }

// .headerMenu_icon {
//     @extend .icon;
//     @include wh($headerMenu_icon_wh);
// }
