@import "./def";

.tree {
    position: relative;
    flex: none;
    width: clamp($tree_min_width, var(--TREE_WIDTH), $tree_max_width);
    background-color: $tree_bgc;
}

.loading {
    @include p;
    @include wh;
    z-index: 9;
    display: none;
    &:global(.loading) {
        @include abc;
        background-color: #fff9;
    }
    >:global(.fa-spin) {
        font-size: 2rem;
    }
}
