@import "../def";

$treeHeader_bgc: darken($tree_bgc, 5%);

$treeHeader_icon_wh: 2em;
$treeHeader_icon_color: darken($tree_icon_color, 3%);
$treeHeader_icon_hover_color: darken($tree_icon_hover_color, 3%);
$treeHeader_icon_hover_bgc: darken($tree_icon_hover_bgc, 3%);

.header {
    @include aic;
    height: $sub_header_height;
    background-color: $treeHeader_bgc;
}

.headerMenu_icon {
    @include mp;
    @include wh($treeHeader_icon_wh);
    @include cc($treeHeader_icon_color, transparent);
    border: 0;
    font-size: $icon_fsz;
    &:hover {
        @include cc($treeHeader_icon_hover_color, $treeHeader_icon_hover_bgc);
    }
}
