@import "../def";

$treeHeader_bgc: darken($tree_bgc, 5%);

$tree_header_icon_color: darken($tree_icon_color, 3%);
$tree_header_icon_hover_color: darken($tree_icon_hover_color, 3%);
$tree_header_icon_hover_bgc: darken($tree_icon_hover_bgc, 3%);

.header {
    @extend .sub_header;
    background-color: $treeHeader_bgc;
}

.headerMenu_icon {
    @include wh($headerMenu_icon_wh);
    font-size: $icon_fsz;
    color: $tree_header_icon_color;
    &:hover {
        @include cc($tree_header_icon_hover_color, $tree_header_icon_hover_bgc);
    }
}
