@import "../def";

$treeItem_height: 2rem;
$treeItem_padding:0 0 0 calc(1rem * var(--LEVEL) + 10px);

$treeItem_title_padding: 0 10px;

.body {
    @extend .sub_body;
    overflow: hidden auto;
}

.treeItem_item,
.treeItem_item_title {
    overflow:   hidden;
    white-space:nowrap;
}

.treeItem_item {
    display:    flex;
    align-items:center;
    height:     $treeItem_height;
    padding:    $treeItem_padding;
    transition: $normal_transition;
}

.treeItem_item_icon {
    flex:   none;
    color:  $icon_color;
}


.treeItem_item_title {
    flex:   auto;
    padding:$treeItem_title_padding;
    text-overflow:  ellipsis;
}
