@import "../def";

$treeItem_height: 2rem;
$treeItem_padding:0 0 0 calc(1rem * var(--LEVEL) + 10px);

$treeItem_title_padding: 0 10px;

$treeItem_hover_bgc: darken($row_hover_bgc, 3%);
$tree_icon_hover_bgc: lighten($treeItem_hover_bgc, 5%);

.body {
    @extend .sub_body;
    overflow: hidden auto;
}

.treeItem_item,
.treeItem_item_title {
    overflow:   hidden;
    white-space:nowrap;
}

.treeItem_item,
.treeItem_item:hover .actionGroup {
    display:    flex;
    align-items:center;
}

.treeItem_item {
    height:     $treeItem_height;
    padding:    $treeItem_padding;
    &:hover {
        background-color: $treeItem_hover_bgc;
    }
}

.treeItem_item_icon {
    flex:   none;
    color:  $tree_icon_color;
}


.treeItem_item_title {
    flex:   auto;
    padding:$treeItem_title_padding;
    text-overflow:  ellipsis;
}

.actionGroup {
    display: none;
}

.actionGroup_icon {
    @include wh(1.5em);
    flex: none;
    color: $tree_icon_color;
    &:hover {
        @include cc($tree_icon_hover_color, $tree_icon_hover_bgc);
    }
}
