@import "./var";

@mixin wh($w:100%, $h:$w){
    width:  $w;
    height: $h;
}

@mixin whh($w:100%, $h:1em, $lh:1){
    @include wh($w, $h);
    line-height: $lh;
}

@mixin hh($h:1em, $lh:$h){
    height:     $h;
    line-height:$lh;
}

@mixin cc($c:$normal_color, $bgc:$normal_bgc){
    color:  $c;
    background-color:$bgc;
}

@mixin mp($m:0, $p:0){
    margin: $m;
    padding:$p;
}

@mixin p($t:0, $r:0, $b:$t, $l:$r, $p:absolute){
    position: $p;
    top:    $t;
    right:  $r;
    bottom: $b;
    left:   $l;
}

@mixin ovf {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin aic {
    display: flex;
    align-items: center;
}

@mixin abc {
    display: flex;
    align-items: center;
    justify-content: center;
}
