.App-header {
    height: 5rem;
    display: flex;
    align-items: center;
}

.App-logo {
    max-width: 100%;
    max-height: 100%;
}

.cter {
    --RESIZE_IDX0_WIDTH: 100px;
    --RESIZE_IDX1_WIDTH: 100px;
    display: flex;
    height: calc(100vh - 5rem);
}

.panel {
    padding: 0 10px;
    box-sizing: border-box !important;
}

.panel.p1{
    width: var(--RESIZE_IDX0_WIDTH);
}

.panel.p2{
    width: var(--RESIZE_IDX1_WIDTH);
}

.panel:last-of-type {
    flex: auto;
}

.panel:hover {
    background-color: #ccc;
}