@import "./var";
@import "./ext";

html, body, ul, ol, p, div,
section, article, main, aside, nav,
u, i, b, a,
h1, h2, h3, h4, h5, h6,
input, textarea, button, select{
	font-size: 100%;
	font: inherit;
    color:inherit;
    outline: 0;
	vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box !important;
}

body, html, p, ul, ol, input, h1, h2, h3, h4, h5, h6, textarea, select{
    @include mp;
}

#root, html, body{
    @include wh(100vw, 100vh);
    @include cc($normal_color, $normal_bgc);
    font-size:  $normal_fsz;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}